#root {
  /*max-width: 1280px;*/
  font-family: 'Oswald', sans-serif;
  grid-column: 3/11;
  position: relative;
  margin: 2rem;
  top: 10rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.525);
  font-size: 2vw;
  padding: 1%;
}
.header{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
/*
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
*/
/*.logo.tsc {
  width: 9vw;
  height: 9vw;
}*/
.logo.tsc:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.welcome{
  padding: 5%;
  will-change: filter;
  transition: filter .3s;
  grid-column: 1/9;
  height: auto;
  width: 100%;
}
.tscA{
  grid-column: 9/13;
  position: relative;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 10s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
main{
  position: absolute;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}